*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-style: none;
  scroll-behavior: smooth;
}
:root{
  --background-color: white;
  --second-background-color: rgba(255, 255, 0, 0.7);
  --third-background-color: #845e53; 
  --semi-transparent-black: rgba(15, 15, 15, 0.8);
}
nav{
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 1em 5%;
  background-color: var(--second-background-color);
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
nav .logo{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 900;
  font-size: 1rem;
  color: black;
  transition: 0.2s ease-in-out;
}
nav .logo:hover{
  font-size: 1.1em;
}
nav .logo img{
  border-radius: 50%;
  width: 50px;
}
nav ul{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  font-weight: 900;
}
nav .link{
  font-size: 1em;
  color: black;
  transition: 0.2s ease-in-out;
}
nav .link:hover{
  font-size: 1.1em;
}
.main-img{
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}
.mvv-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 5%;
  margin-top: -15vh;
}
.mvv{
  text-align: center;
  background-color: var(--third-background-color);
  color: white;
  padding: 1em 1%;
  border-radius: 15px;
  max-width: 250px;
}
.mvv h3{
  font-size: 2em;
}
#about-us{
  display: flex;
  padding: 2em 15%;
}
#about-us .school-info img{
  width: 20vw;
}