*{
  color: white;
}
:root{
  --darker-blue: #04093f;
  --lighter-blu: #3533cd;
  --background: #242424;
}
body{
  background-color: var(--background);
}
nav{
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
  opacity: 0.7;
}
nav .links a{
  color: white;
}
nav .links{
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
}
nav .logo{
  color: white;
}
#home .main-img{
    filter: blur(2px);
    position: relative;
    z-index: 0;
}
#home .mvv-container{
  position: relative;
  z-index: 1;
}
.mvv{
  background-image: linear-gradient(to right, black, rgba(53, 51, 205, 1));
}
.school-info img{
  border-radius: 100%;
}
.question{
  box-shadow: none;
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
}
.question-img img{
  box-shadow: none;
}
.officers-members-header{
  margin-top: 7%;
  font-size: clamp(12px, 10vw, 48px);
}
.officers-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  background-image: linear-gradient(to right, black, rgba(53, 51, 205, 1));
  margin-top: 2%;
  padding: 2em 5%;
  width: 90%;
  max-width: 1000px;
}
.officer-member{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 3%;
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
  width: 100%;
  max-width: 200px;
}
.officer-member p{
  color: white;
}
.officer-member h3{
  color: white;
}
.officer-member img{
  width: 100px;
}
.additional-resources{
  background-image: linear-gradient(to right, rgb(1, 9, 104), rgba(53, 51, 205, 1));
  box-shadow: none;
}
.resource-btn{
  background-image: linear-gradient(to right, black, rgba(53, 51, 205, 1));
  box-shadow: 0 0 5px;
}
.resource-btn a{
  color: white;
}
.expanded-resource{
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
  box-shadow: 0 0 5px;
}
footer{
  background-image: linear-gradient(to right, rgba(4, 9, 63, 1), rgba(53, 51, 205, 1));
  opacity: 0.8;
}