*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-style: none;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}
:root{
  --background-color: white;
  --second-background-color: rgba(255, 255, 0, 0.7);
  --third-background-color: #845e53; 
  --semi-transparent-black: rgba(15, 15, 15, 0.8);
}
nav{
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 1em 5%;
  background-color: var(--second-background-color);
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
nav .logo{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 900;
  font-size: 1rem;
  color: black;
  transition: 0.2s ease-in-out;
}
nav .logo:hover{
  font-size: 1.1em;
}
nav .logo img{
  border-radius: 50%;
  width: 50px;
}
nav ul{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  font-weight: 900;
}
nav .link{
  font-size: 1em;
  color: black;
  transition: 0.2s ease-in-out;
}
nav .link:hover{
  font-size: 1.1em;
}
.main-img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.mvv-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 5%;
  margin-top: -15vh;
}
.mvv{
  text-align: center;
  background-color: var(--third-background-color);
  color: white;
  padding: 1em 1%;
  border-radius: 15px;
  max-width: 500px;
}
.mvv h3{
  font-size: clamp(20px, 3vw, 200px);
}
.mvv p{
  font-size: clamp(20px, 2vw, 50px);
}
#about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 15%;
  padding-top: 10%;
  width: 100vw;
}
#about-us .school-info img{
  width: 10vw;
}
#about-us .school-info{
  max-width: 600px;
  text-align: center;
}
#about-us h2{
  font-size: clamp(20px, 3vw, 40px);
}
#about-us p{
  font-size: clamp(20px, 2vw, 35px);
}
#about-us .collage{
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 250px);
  gap: 1px 1px;
}
#about-us .collage img{
  height: 100%;
  max-width: 250px;
  max-height: 500px;
  object-fit: cover;
}
#box-1{
  grid-row-start: 1;
  grid-row-end: 3;
}
#more{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.three-question-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin-top: 8%;
}
.question-img{
  display: flex;
  max-width: 1100px;
}
.question-img img{
  box-shadow: 1px 1px 15px;
}
.reverse-question-img{
  flex-direction: row-reverse;
}
.question{
  flex: 1;
  background-color: var(--third-background-color);
  margin-right: -1.5vh;
  padding: 1em;
  padding-right: 2em;
  font-size: .8em;
  text-align: right;
  box-shadow: 1px 1px 15px;
  color: white;
}
.reverse-question-img .question{
  text-align: left;
  margin-left: -2em;
  margin-right: 0;
  padding-left: 3em;
  z-index: -1000;
}
.question h3{
  font-size: clamp(20px, 2vw, 200px);
}
.question p{
  font-size: clamp(20px, 1.2vw, 200px);
}
.question-img img{
  margin-top: -2vh;
  margin-bottom: 2vh;
  flex: 1;
}
#additional-resources-h1{
  margin-top: 10%;
  font-size: clamp(20px, 3vw, 200px);
}
.additional-resources{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 500px));
  grid-template-rows: repeat(2, 100px);
  place-items: center;
  gap: 1em;
  justify-content: center;
  max-width: 900px;
  margin-top: 3%;
  box-shadow: 0px 0px 10px;
  padding: 2em;
  border-radius: 30px;
}
.resource-btn{
  width: 100%;
  max-width: 500px;
  height: 100px;
  border-radius: 30px;
  opacity: 0.7;
  font-size: 1.5em;
  background-color: var(--third-background-color);
  transition: 0.2s ease-in-out;
}
.resource-btn:hover{
  opacity: 1;
}
.resource-btn a{
  color: black;
}
footer{
  display: flex;
  width: 100vw;
  max-height: 1000px;
  background-color: var(--third-background-color);
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 2em 15%;
  justify-content: center;
  gap: 3em;
  alignment-baseline: baseline;
  align-items: baseline;
}
footer img{
  width: 25px;
}
footer ul span p{
  display: inline;
  font-size: clamp(20px, 1vw, 48px);
}
footer ul span{
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: white;
}
footer ul a{
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: 0.2s ease-in-out;
  color: white;
  font-size: clamp(20px, 1vw, 200px);
}
footer ul a:hover{
  color: black;
}
.expanded-resource-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.expanded-resource{
  display: none;
  background-color: #845e53;
  padding: 2em 5%;
  width: 100%;
  max-width: 900px;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px;
  text-align: center;
}
.expanded-resource div{
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 5em;
  justify-content: center;
  margin-top: 5%;
}
.expanded-resource div ul{
  display: flex;
  flex-direction: column;
  font-size: clamp(12px, 1.5vw, 48px);
  gap: 1em;
  list-style-type: circle;
}
.expanded-resource div ul a{
  color: var(--background-color);
  opacity: .7;
  transition: 0.2s ease-in-out;
}
.expanded-resource div ul a:hover{
  color: black;
  opacity: 1;
}
#nav-menu-btn{
  display: none;
  background: none;
  border: none;
  color: transparent;
}
#nav-menu-btn img{
  height: 40px;
  width: 60px;
}
/* --------------------------------------------------------LAPTOPS-------------------------------------------------------- */
@media(max-width: 1440px){

  #home{
    width: 100%;
  }
  #about-us{
    width: 100%;
  }
  #more{
    width: 100%;
  }
  #contact{
    width: 100%;
  }
  footer ul{
    font-size: clamp(12px, 3vw, 30px);
  }
  footer ul span p{
    font-size: clamp(12px, 3vw, 20px);
  }
  .expanded-resource div ul{
    font-size: clamp(12px, 3vw, 30px);
  }
  .three-question-container{
    max-width: 70%;
  }
  .question-img{
    max-width: 1000px;
  }
  .question-img .question p{
    font-size: clamp(12px, 1.5vw, 30px);
    opacity: 0.9;
  }
  .question-img .question h3{
    font-size: clamp(12px, 3vw, 30px);
  }
  .mvv{
    max-width: 500px;
  }
  .mvv p{
    font-size: clamp(12px, 2vw, 30px);
  }
  .mvv h3{
    font-size: clamp(12px, 3vw, 70px);
  }

}

/* --------------------------------------------------------TABLETS-------------------------------------------------------- */
@media(max-width: 1024px){
  #about-us{
    flex-direction: column;
  }
  #about-us .school-info img{
    width: 140px;
  }
  .question-img{
    flex-direction: column;
    width: 90%;
  }
  .question{
    margin: 0;
    margin-bottom: 2%;
    text-align: center;
  }
  .reverse-question-img .question{
    margin: 0;
    margin-bottom: 2%;
    text-align: center;
  }
  .question p{
    font-size: clamp(14px, 2vw, 48px);
  }
  .additional-resources{
    width: 90%;
  }
  .expanded-resource{
    font-size: clamp(12px, 3vw, 20px);
    width: 90%;
  }
  .expanded-resource div ul{
    font-size: clamp(14px, 4vw, 30px);
  }
  .resource-btn{
    width: clamp(120px, 20vw, 500px);
    font-size: clamp(12px, 3vw, 25px);
  }
  #about-us .collage{
    grid-template-columns: repeat(2, minmax(170px, 250px));
    grid-template-rows: repeat(2, minmax(100px, 250px));
  }
  #about-us .collage img{
    max-width: clamp(150px, 36vw, 250px);
  }
  footer ul{
    font-size: clamp(12px, 3vw, 20px);
  }
  footer ul span p{
    font-size: clamp(10px, 3vw, 20px);
  }
  .mvv-container{
    flex-direction: column;
  }
  .mvv{
    max-width: 500px;
  }
  .mvv h3{
    font-size: clamp(14px, 6vw, 40px);
  }
  .mvv p{
    font-size: clamp(14px, 5vw, 30px);
  }
}

/* --------------------------------------------------------MOBILE PHONES-------------------------------------------------------- */
@media(max-width: 470px){

.links{
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-left: -5%;
  background-color: var(--second-background-color);
  padding: 2em 15%;
  gap: 5em;
  font-size: 1em;
}
#nav-menu-btn{
  display: block;
  opacity: 1;
}
.additional-resources{
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 150px);
  width: 90%;
  max-width: 380px;
  font-size: 0.6em;
  padding: 3% 1%;
  gap: 1%;
}
.three-question-container{
  width: 90%;
}
.question-img{
  flex-direction: column;
  max-width: 400px;
}
.question{
  margin: 0;
  margin-bottom: 3%;
  text-align: center;
  padding: 1em 1em;
}
.reverse-question-img .question{
  margin: 0;
  margin-bottom: 3%;
  text-align: center;
  padding: 1em 1em;
}
#about-us{
  flex-direction: column;
  width: 100%;
  padding: 2em 5%;
}
#about-us .school-info{
  font-size: 0.8em;
  margin-bottom: 10%;
}
#about-us .school-info img{
  width: 100px;
}
#about-us .collage{
  grid-template-columns: repeat(2, minmax(30px, 200px));
  grid-template-rows: repeat(2, minmax(30px, 200px));
}
#about-us .collage img{
  width: 100%;
  max-width: 200px;
}
.mvv-container{
  gap: 1em;
  flex-direction: column;
}
.resource-btn{
  width: 30vw;
}
.expanded-resource{
  width: 90%;
}
footer{
  flex-direction: column;
  align-items: center;
}
footer ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

}